
AVPlayerWithAnimation.xcodeproj/project.xcworkspace/xcuserdata/drugeond.xcuserdatad/UserInterfaceState.xcuserstate

AVPlayerWithAnimation.xcodeproj/xcuserdata/drugeond.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

AVPlayerWithAnimation.xcodeproj/project.xcworkspace/xcuserdata/drugeond.xcuserdatad/UserInterfaceState.xcuserstate

AVPlayerWithAnimation.xcodeproj/xcuserdata/drugeond.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
